<template>
  <v-container>
    <g-form
      :title="title"
      :has-back="true"
      :has-remove="id > 0"
      :layout="'2'"
      @remove="secondary"
      @submit="save"
    >
      <v-col cols="12" sm="6" class="my-0 py-0">
        <g-form-field
          :label="$vuetify.lang.t('$vuetify.localName')"
          name="arabicName"
          rules="required|max:150"
          :value.sync="editableItem.localName"
        />
      </v-col>

      <v-col cols="12" sm="6" class="my-0 py-0">
        <g-form-field
          :label="$vuetify.lang.t('$vuetify.foreignName')"
          name="englishName"
          rules="required|max:150"
          :value.sync="editableItem.foreignName"
        />
      </v-col>
    </g-form>

    <DeleteDialog :visible.sync="deleteDialog" @confirmed="confirmDelete" />
  </v-container>
</template>

<script>
import { mapActions } from "vuex";

import DeleteDialog from "~/components/deleteDialog.vue";

export default {
  name: "skillEdit",
  components: {
    DeleteDialog,
  },
  props: {
    id: {
      type: [String, Number],
      default: 0,
    },
  },
  data: () => ({
    gateway: "skills",
    editableItem: {},
    deleteDialog: false,
  }),
  computed: {
    title() {
      return `${this.$vuetify.lang.t(
        `$vuetify.${this.id ? "create" : "edit"}`
      )}  ${this.$vuetify.lang.t("$vuetify.skills")}`;
    },
  },
  mounted() {
    if (this.id) {
      this.get({ id: this.id, gateway: this.gateway }).then((data) => {
        this.editableItem = data;
      });
    }
  },
  methods: {
    ...mapActions({
      showLoading: "showLoading",
      hideLoading: "hideLoading",
      get: "AppModule/GeneralCodesModule/GatewayModule/get",
      create: "AppModule/GeneralCodesModule/GatewayModule/create",
      update: "AppModule/GeneralCodesModule/GatewayModule/update",
      delete: "AppModule/GeneralCodesModule/GatewayModule/delete",
    }),
    save() {
      if (this.id) {
        this.update({
          data: this.editableItem,
          gateway: this.gateway,
          id: this.id,
        });
      } else {
        this.create({ data: this.editableItem, gateway: this.gateway });
      }
    },
    secondary() {
      if (this.id) {
        this.deleteDialog = true;
      } else {
        this.$router.push("/skills");
      }
    },
    confirmDelete() {
      this.delete({ id: this.id, gateway: this.gateway });
      this.deleteDialog = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.v-card {
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.hintColor ::v-deep .v-messages__message {
  color: #f57f17;
}
</style>
