<template>
    <v-container>
      <v-row
        justify="center"
        align="center"
      >
        <v-col cols="12" class="py-0 my-0">
          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
            :page.sync="page"
            class="elevation-1"
          >
            <template #top>
              <v-toolbar flat>
                <v-toolbar-title>
                  {{ $vuetify.lang.t('$vuetify.skills') }}
                </v-toolbar-title>
  
                <v-divider
                  class="mx-4"
                  inset
                  vertical
                />
  
                <v-spacer />
  
                <v-text-field
                  v-model="search"
                  class="search-box"
                  append-icon="mdi-magnify"
                  :label="$vuetify.lang.t('$vuetify.search')"
                  single-line
                  hide-details
                />
  
                <v-spacer />
  
                <DeleteDialog
                  :visible.sync="deleteDialog"
                  @confirmed="confirmDelete"
                />
  
                <v-btn
                  color="primary"
                  dark
                  :to="`/skills/create?listPage=${page}`"
                >
                  {{ $vuetify.lang.t('$vuetify.addItem') }}
                </v-btn>
              </v-toolbar>
            </template>
  
            <template #[`item.actions`]="{ item }">
              <v-icon
                small
                class="me-2 primary--text"
                @click="editItem(item)"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                small
                class="error--text"
                @click="deleteItem(item)"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </template>
  <script>
  import { mapActions } from 'vuex';
  
  import DeleteDialog from '~/components/deleteDialog.vue';
  
  export default {
    name: 'SkillList',
    components: {
      DeleteDialog,
    },
    data: () => ({
      gateway: 'Skills',
      deleteDialog: false,
      deleteItemId: 0,
      search: '',
      pageQuery: 1,
      page: 1,
      items: [],
    }),
    computed: {
      headers() {
        return [
          {
            text: this.$vuetify.lang.t('$vuetify.localName'),
            align: 'center',
            sortable: true,
            value: 'localName',
          },
          {
            text: this.$vuetify.lang.t('$vuetify.foreignName'),
            align: 'center',
            sortable: true,
            value: 'foreignName',
          },
          {
            text: this.$vuetify.lang.t('$vuetify.actions'),
            value: 'actions',
            align: 'center',
            sortable: false,
          },
        ];
      },
    },
    watch: {
      items() {
        this.page = this.pageQuery;
      },
      page() {
        this.pageQuery = this.page;
      },
    },
    mounted() {
      if (this.$route.query && this.$route.query.page) {
        this.pageQuery = parseInt(this.$route.query.page, 10);
        this.$router.replace({ query: {} });
      }
      this.get({ gateway: this.gateway }).then((res) => {
        this.items = res;
      });
    },
    methods: {
      ...mapActions({
        get: 'AppModule/GeneralCodesModule/GatewayModule/get',
        remove: 'AppModule/GeneralCodesModule/GatewayModule/delete',
      }),
      editItem({ id }) {
        this.$router.push(`/skills/${id}?listPage=${this.page}`);
      },
      deleteItem(item) {
        this.deleteItemId = item.id;
        this.deleteDialog = true;
      },
      closeDialog() {
        // this.deleteItemId = 0;
        this.deleteDialog = false;
      },
      confirmDelete() {
        this.remove({ id: this.deleteItemId, gateway: this.gateway }).then(() => {
          this.items = this.items.filter((item) => item.id !== this.deleteItemId);
          this.deleteItemId = 0;
        });
        this.closeDialog();
      },
    },
  };
  </script>
  
  <style lang="scss" scoped>
  .v-card {
    transition: box-shadow 0.2s ease-in-out;
    cursor: pointer;
  }
  </style>
  