<template>
  <v-menu
    v-model="showMenu"
    :disabled="disabled"
    :readonly="readonly"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template #activator="{ on, attrs }">
      <v-text-field
        :label="label"
        :value="adaptDate(value)"
        :error="invalid && validated"
        :error-messages="errors"
        readonly
        :disabled="disabled"
        :hint="hint"
        clearable
        :placeholder="placeholder"
        :outlined="outlined"
        persistent-hint
        v-bind="attrs"
        v-on="on"
      >
        <template
          v-if="$slots.append"
          #append
        >
          <slot name="append" />
        </template>
        <template
          v-else-if="appendIconName"
          #append
        >
          <v-icon
            class="ms-1"
            :color="appendIconColor"
          >
            {{ appendIconName }}
          </v-icon>
        </template>

        <template
          v-if="$slots['prepend-inner']"
          #prepend-inner
        >
          <slot name="prepend-inner" />
        </template>
        <template
          v-else-if="prependInnerIconName"
          #prepend-inner
        >
          <v-icon
            class="me-1"
            :color="prependInnerIconColor"
          >
            {{ prependInnerIconName }}
          </v-icon>
        </template>
      </v-text-field>
    </template>

    <v-date-picker
      :value="adaptDate(value)"
      :readonly="readonly"
      :disabled="disabled"
      :color="color"
      :type="type"
      :max="maxDate"
      :min="minDate"
      @input="handleChange"
    />
  </v-menu>
</template>
<script>
export default {
  name: 'GDateField',
  props: {
    value: {
      type: [String, Number, null],
      default: '',
      // required: true,
    },
    label: {
      type: String,
      required: true,
    },
    rules: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'date',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    invalid: {
      type: Boolean,
      default: false,
    },
    validated: {
      type: Boolean,
      default: false,
    },
    errors: {
      type: Array,
      default: () => ([]),
    },
    appendIconName: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: null,
    },
    hint: {
      type: String,
      default: null,
    },
    appendIconColor: {
      type: String,
      default: null,
    },
    prependInnerIconName: {
      type: String,
      default: null,
    },
    prependInnerIconColor: {
      type: String,
      default: 'primary',
    },
    color: {
      type: String,
      default: 'primary',
    },
    minDate: {
      type: String,
      default: undefined,
    },
    maxDate: {
      type: String,
      default: undefined,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    outlined: {
      type: Boolean,
      default: true,
    },
  },
  emits: ['change'],
  data: () => ({
    showMenu: false,
  }),
  methods: {
    handleChange(value) {
      this.$emit('change', value || null);
      this.showMenu = false;
    },
  },
};
</script>
