<template>
  <div class="d-flex justify-start">
    <v-autocomplete
      v-if="type === 'select'"
      ref="lookup"
      :label="label"
      :outlined="outlined"
      :multiple="multiple"
      :value="selectedValue"
      :items="options"
      :error="invalid && validated"
      :error-messages="errors"
      :disabled="disabled"
      :readonly="readonly"
      :hint="hint"
      persistent-hint
      :clearable="!disabled"
      :item-text="itemText"
      :item-value="itemId"
      no-data-text=""
      @input="inputListener"
      @clear="value => ( $emit('change', null) && $emit('selected-option', {}) )"
    >
      <template
        v-if="multiple"
        #selection="{ item, index }"
      >
        <span v-if="index < 3">
          {{ item[itemText] }} {{ index != selectedValue.length -1 ? ',' : '' }}</span>
        <span
          v-if="index === 3"
          class="grey--text caption"
        >
          (+{{ selectedValue.length - 1 }} ) {{ $vuetify.lang.t(`$vuetify.others`) }}
        </span>
      </template>
      <template
        v-if="$slots.append"
        #append
      >
        <slot name="append" />
      </template>
      <template
        v-else-if="appendIconName"
        #append
      >
        <v-icon
          class="me-1"
          :color="appendIconColor"
        >
          {{ appendIconName }}
        </v-icon>
      </template>

      <template
        v-if="$slots['prepend-inner']"
        #prepend-inner
      >
        <slot name="prepend-inner" />
      </template>
      <template
        v-else-if="prependInnerIconName"
        #prepend-inner
      >
        <v-icon
          class="me-1"
          :color="prependInnerIconColor"
        >
          {{ prependInnerIconName }}
        </v-icon>
      </template>
    </v-autocomplete>

    <div
      v-if="type === 'radio'"
      style="width:100%"
    >
      <v-radio-group
        ref="lookup"
        :value="value"
        :options="options"
        :label="label"
        :readonly="readonly"
        :disabled="disabled"
        :hide-details="!hint"
        :hint="hint"
        :error="invalid && validated"
        :error-messages="errors"
        persistent-hint
        full-width
        @change="value => $emit('change', value)"
      >
        <v-row dense>
          <v-col
            v-for="(option, index) in options"
            :key="index"
          >
            <v-radio
              :label="option[itemText]"
              :value="option[itemId]"
            />
          </v-col>
        </v-row>

        <template
          v-if="$slots.append"
          #append
        >
          <slot name="append" />
        </template>
        <template
          v-else-if="appendIconName"
          #append
        >
          <v-icon
            class="me-1"
            :color="appendIconColor"
          >
            {{ appendIconName }}
          </v-icon>
        </template>

        <template
          v-if="$slots.prepend"
          #prepend
        >
          <slot name="prepend" />
        </template>
        <template
          v-else-if="prependInnerIconName"
          #prepend
        >
          <v-icon :color="prependInnerIconColor">
            {{ prependInnerIconName }}
          </v-icon>
        </template>
      </v-radio-group>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GLookupField',
  props: {
    value: {
      type: [Number, String, Array, null],
      default: null,
      // required: true,
    },
    label: {
      type: String,
      required: true,
    },
    rules: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'select',
    },
    itemText: {
      type: String,
      default: 'name',
    },
    itemId: {
      type: String,
      default: 'id',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    lookup: {
      type: [Array, String],
      required: true,
    },
    invalid: {
      type: Boolean,
      default: false,
    },
    validated: {
      type: Boolean,
      default: false,
    },
    errors: {
      type: Array,
      default: () => ([]),
    },
    appendIconName: {
      type: String,
      default: null,
    },
    appendIconColor: {
      type: String,
      default: null,
    },
    prependInnerIconName: {
      type: String,
      default: null,
    },
    prependInnerIconColor: {
      type: String,
      default: 'pink',
    },
    hint: {
      type: String,
      default: null,
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    outlined: {
      type: Boolean,
      default: true,
    },
  },
  emits: ['change', 'selected-option', 'selected-text'],
  data: () => ({
    backendLookup: [],
  }),
  computed: {
    options() {
      if (Array.isArray(this.lookup)) {
        return this.lookup;
      } if (typeof this.lookup === 'string') {
        return this.backendLookup || [];
      }
      return [];
    },
    selectedValue() {
      let value = {};
      if (!this.value) return value;
      if (!this.multiple) {
        value = this.options.find((i) => `${i.id}` === `${this.value}`);
      } else if (this.multiple) {
        value = this.options.filter((i) => this.value.indexOf(i[this.itemId]) > -1);
      }
      return value;
    },
  },
  watch: {
    lookup(val, oldVal) {
      if (val !== oldVal) {
        this.handleGetLookups();
      }
    },
    options() {
      if (this.value) this.inputListener(this.value);
    },
  },
  mounted() {
    this.handleGetLookups();
  },
  methods: {
    handleGetLookups() {
      if (typeof this.lookup === 'string') {
        this.$axios.get(`api/${this.lookup}`)
          .then(({ data }) => {
            this.backendLookup = data.data || data;
          });
      }
    },
    inputListener(value) {
      this.$emit('change', value);
      let selectedOption = {};
      if (!this.multiple) {
        selectedOption = !value || this.options.find((option) => `${option[this.itemId]}` === `${value}`);
      } else {
        selectedOption = !value || this.options
          .filter((option) => value.indexOf(option[this.itemId]) > -1);
      }
      this.$emit('selected-option', selectedOption || {});
      this.$emit('selected-text', value ? value[this.itemText] : '');
    },
  },
};
</script>
