<template>
  <v-textarea
    v-if="(input.type || type) == 'textarea'"
    outlined
    :label="label"
    :error="invalid && validated"
    :value="value"
    :error-messages="errors"
    @input="(v) => $emit('input', v)"
    @change="(v) => $emit('change', v)"
  />
  <v-text-field
    v-else
    ref="input"
    class="py-0 my-0"
    :label="label"
    :value="value"
    :error="invalid && validated"
    :error-messages="errors"
    :type="input.type || type"
    :readonly="readonly"
    :hint="hint"
    :clearable="!readonly"
    :disabled="disabled"
    :placeholder="placeholder"
    outlined
    :dense="dense"
    :persistent-hint="!hideDetails"
    @input="
      (value) =>
        $emit('input', type == 'number' ? parseFloat(value) || 0 : value)
    "
    @change="
      (value) =>
        $emit('change', type == 'number' ? parseFloat(value) || 0 : value)
    "
  >
    <template v-if="$slots.append" #append>
      <slot name="append" />
    </template>
    <template v-else-if="appendIconName" #append>
      <v-icon class="ms-1" :color="appendIconColor">
        {{ appendIconName }}
      </v-icon>
    </template>

    <template v-if="$slots['prepend-inner']" #prepend-inner>
      <slot name="prepend-inner" />
    </template>
    <template v-else-if="prependInnerIconName" #prepend-inner>
      <v-icon class="me-1" :color="prependInnerIconColor">
        {{ prependInnerIconName }}
      </v-icon>
    </template>
  </v-text-field>
</template>
<script>
export default {
  name: "GTextField",
  props: {
    value: {
      type: [String, Number, null],
      // required: true,
      default: "",
    },
    label: {
      type: String,
      default: "",
      // required: true,
    },
    rules: {
      type: String,
      default: "",
    },
    type: {
      type: String,
      default: "text",
    },
    dense: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    hideDetails: {
      type: Boolean,
      default: true,
    },
    invalid: {
      type: Boolean,
      default: false,
    },
    validated: {
      type: Boolean,
      default: false,
    },
    errors: {
      type: Array,
      default: () => [],
    },
    appendIconName: {
      type: String,
      default: "",
    },
    placeholder: {
      type: String,
      default: null,
    },
    hint: {
      type: [String, undefined],
      default: undefined,
    },
    appendIconColor: {
      type: String,
      default: null,
    },
    prependInnerIconName: {
      type: String,
      default: null,
    },
    prependInnerIconColor: {
      type: String,
      default: "primary",
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    input: {
      type: Object,
      default: () => ({ type: "" }),
    },
  },
  emits: ["change", "input"],
  data: () => ({}),
  watch: {
    errors() {
      // if (this.errors && this.errors.length > 0) {
      //   this.$vuetify.goTo(this.$refs.input);
      //   this.$refs.input.focus();
      // }
    },
  },
};
</script>
