<template>
  <v-menu
    v-model="showMenu"
    :disabled="disabled"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template #activator="{ on, attrs }">
      <v-text-field
        :label="label"
        :value="value"
        :error="invalid && validated"
        :error-messages="errors"
        :type="type"
        readonly
        :hint="hint"
        clearable
        :placeholder="placeholder"
        outlined
        rounded
        persistent-hint
        v-bind="attrs"
        v-on="on"
      >
        <template
          v-if="$slots.append"
          #append
        >
          <slot name="append" />
        </template>
        <template
          v-else-if="appendIconName"
          #append
        >
          <v-icon
            class="ms-1"
            :color="appendIconColor"
          >
            {{ appendIconName }}
          </v-icon>
        </template>

        <template
          v-if="$slots['prepend-inner']"
          #prepend-inner
        >
          <slot name="prepend-inner" />
        </template>
        <template
          v-else-if="prependInnerIconName"
          #prepend-inner
        >
          <v-icon
            class="me-1"
            :color="prependInnerIconColor"
          >
            {{ prependInnerIconName }}
          </v-icon>
        </template>
      </v-text-field>
    </template>

    <v-time-picker
      v-model="time"
      :readonly="disabled"
      :color="color"
      ampm-in-title
      @click:minute="handleChange"
    />
  </v-menu>
</template>
<script>
export default {
  name: 'GTimeField',
  props: {
    value: {
      type: [String, Number],
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    rules: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'text',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    invalid: {
      type: Boolean,
      default: false,
    },
    validated: {
      type: Boolean,
      default: false,
    },
    errors: {
      type: Array,
      default: () => ([]),
    },
    appendIconName: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: null,
    },
    hint: {
      type: String,
      default: null,
    },
    appendIconColor: {
      type: String,
      default: null,
    },
    prependInnerIconName: {
      type: String,
      default: null,
    },
    prependInnerIconColor: {
      type: String,
      default: 'pink',
    },
    color: {
      type: String,
      default: 'pink',
    },
  },
  emits: ['change'],
  data: () => ({
    showMenu: false,
    time: '',
  }),
  methods: {
    handleChange() {
      this.$emit('change', this.time);
      this.showMenu = false;
      // $refs.menu.save(time)
    },
  },
};
</script>
