<template>
  <div class="text-center">
    <v-row class="d-flex justify-center">
      <v-col
        cols="12"
        md="8"
        :key="job.id"
        class="mt-2 mb-2"
        v-for="job in pageData.data"
      >
        <v-card elevation="2" outlined shaped tile>
          <v-card-title>{{ job[lang == 'ar' ? 'localName': 'foreignName'] }}</v-card-title>

          <v-card-text :class="{'text-left': lang != 'ar', 'text-right': lang == 'ar'}" class="px-10">
            <div> {{ $vuetify.lang.t('$vuetify.requiredPositions')  }} {{ job.maximumApplication }}</div>
            <!-- <p class="text-h4 text--primary">el·ee·mos·y·nar·y</p> -->
            <p class="text-h7 text--primary">
              {{ $vuetify.lang.t('$vuetify.requiredSkills') }} :
              {{
                (job.jobVacancySkills.map((x) => x[[lang == 'ar' ? 'localName': 'foreignName']]) || []).join(",")
              }}
            </p>
            <div class="text--primary px-5" v-html="job[lang == 'ar' ? 'localDescription': 'foreignDesciption'].split('\n').slice(0,2).join('<br/>').slice(0, 150)">
              <!-- {{ job[lang == 'ar' ? 'localDescription': 'foreignDesciption'].slice(0, 150) }} -->
            </div>
          </v-card-text>
          <v-card-actions v-if="!token" class="d-flex justify-end">
            <v-btn text color="teal accent-4" :to="`/apply/${job.id}`">
              {{ $vuetify.lang.t('$vuetify.apply') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-pagination
      @input="getPage"
      v-model="page"
      :length="length"
      circle
    ></v-pagination>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  props: {},
  data() {
    return {
      page: 1,
      pageData: {},
    };
  },
  computed: {
    length() {
      return Math.ceil((this.pageData.total || 0) / 3);
    },
    ...mapGetters({
      token: "AppModule/AuthModule/token",
      profile: "AppModule/AuthModule/profile",
      lang: 'lang',
    }),
  },
  mounted() {
    this.getPage();
  },
  methods: {
    ...mapActions({
      showLoading: "showLoading",
      hideLoading: "hideLoading",
      get: "AppModule/GeneralCodesModule/GatewayModule/get",
    }),
    getPage() {
      this.get({
        id: this.id,
        gateway: `jobVacancies/page/${this.page - 1}`,
      }).then((data) => {
        this.pageData = data;
      });
    },
  },
};
</script>

<style></style>
