<template>
  <v-icon
    :color="value ? 'success' : 'error'"
  >
    {{ value ? 'mdi-check-circle-outline' : 'mdi-close-circle-outline' }}
  </v-icon>
  <!-- <v-switch
      :value="value"
      inset
      dense
      readonly
    ></v-switch> -->
</template>

<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: true,
    },
  },
};
</script>
