<template>
  <v-dialog
    :value="visible"
    max-width="500px"
    @click:outside="$emit('update:visible', false)"
  >
    <v-card>
      <v-card-title>
        <span class="headline primary--text">
          {{ $vuetify.lang.t('$vuetify.delete') }}
        </span>
      </v-card-title>

      <v-card-text class="mt-3 text-bold">
        {{ $vuetify.lang.t('$vuetify.deleteDialog') }}
      </v-card-text>

      <v-card-actions>
        <v-spacer />

        <v-btn
          color="error"
          text
          @click="confirm"
        >
          {{ $vuetify.lang.t('$vuetify.confirm') }}
        </v-btn>

        <v-btn
          color="primary"
          text
          @click="$emit('update:visible', false)"
        >
          {{ $vuetify.lang.t('$vuetify.cancel') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'DeleteDialog',
  props: {
    visible: {
      type: Boolean,
      required: true,
    },
  },
  emits: ['confirmed', 'update:visible'],
  methods: {
    confirm() {
      this.$emit('confirmed');
      this.$emit('update:visible', false);
    },
  },
};
</script>

<style>
</style>
