<template>
  <v-data-table
    :headers="headers"
    :items="users"
    class="elevation-1"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>
          {{ $vuetify.lang.t('$vuetify.users.header') }}
        </v-toolbar-title>

        <v-divider
          class="mx-4"
          inset
          vertical
        />

        <v-spacer />

        <v-dialog
          v-model="deleteDialog"
          max-width="500px"
        >
          <v-card>
            <v-card-title>
              <span class="headline">
                {{ $vuetify.lang.t('$vuetify.roles.delete') }}
              </span>
            </v-card-title>

            <v-card-text>
              Are You sure?
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                text
                @click="dialog = false"
              >
                I accept
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-btn
          color="primary"
          dark
          to="/users/create"
        >
          {{ $vuetify.lang.t('$vuetify.localization.newItem') }}
        </v-btn>
      </v-toolbar>
    </template>

    <template #[`item.isAdmin`]="{ item }">
      <v-row
        align="center"
        justify="center"
        no-gutters
      >
        <v-col cols="auto">
          <v-checkbox
            :input-value="item.isAdmin"
            color="success"
            hide-details
            class="ma-0 pa-0 no-pointer"
            :ripple="false"
            readonly
          />
        </v-col>
      </v-row>
    </template>

    <template #[`item.isActive`]="{ item }">
      <v-row
        align="center"
        justify="center"
        no-gutters
      >
        <v-col cols="auto">
          <v-checkbox
            :input-value="item.isActive"
            color="success"
            hide-details
            class="ma-0 pa-0 no-pointer"
            :ripple="false"
            readonly
          />
        </v-col>
      </v-row>
    </template>

    <template #[`item.roles`]="{ item }">
      {{ rolesTableValues(item.roles) }}
    </template>

    <template #[`item.email`]="{ item }">
      <a :href="`mailto:${item.email}`">
        {{ item.email }}
      </a>
    </template>

    <template #[`item.actions`]="{ item }">
      <v-icon
        small
        class="me-2 primary--text"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        class="error--text"
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
  </v-data-table>
</template>

<script>
export default {

};
</script>

<style>
</style>
