<template>
  <v-list-group
    :value="expand"
    :prepend-icon="item.icon"
  >
    <template #activator>
      <v-list-item-title>{{ $vuetify.lang.t(`$vuetify.${item.title }`) }}</v-list-item-title>
    </template>
    <div v-for="listItem in item.list"
      :key="listItem.title">
      <!-- if contains single item -->
      <ListItem v-if="!listItem.list || listItem.list.length == 0"
      :item="listItem"
    />
    <!-- if contains list of items -->
    <v-list-group v-else
    :value="isExpended(listItem)"
    sub-group
    :prepend-icon="listItem.icon"
    >
      <template #activator>
        <v-list-item-title>{{ $vuetify.lang.t(`$vuetify.${listItem.title }`) }}</v-list-item-title>
      </template>
        <ListItem
        :item="innerItem"
        v-for="innerItem in listItem.list"
        :key="innerItem.title"
      />
    </v-list-group>
  </div>
  </v-list-group>
</template>

<script>
import ListItem from './item.vue';

export default {
  components: {
    ListItem,
  },
  props: {
    item: {
      type: Object,
      default: () => { },
    },
  },
  mounted() {
    this.item.list.forEach((element) => {
      if (this.$route.matched.find((route) => route.regex.test(element.to))) {
        this.expand = true;
      }
    });
  },
  data: () => ({
    expand: false,
  }),
  methods: {
    isExpended(listElement) {
      let expand = false;
      listElement.list.forEach((element) => {
        if (this.$route.matched.find((route) => route.regex.test(element.to))) {
          expand = true;
          this.expand = true;
        }
      });
      return expand;
    },
  },
};
</script>

<style>
</style>
