<template>
  <ValidationObserver
    v-slot="{ passes, errors }"
    ref="observer"
  >
    <form
      ref="form"
      class="d-flex flex-column"
      novalidate="novalidate"
      :set="formErrors = Object.entries(errors).map(i => i[1][0]).filter(i => i)"
      @submit.prevent="handelErrors();passes(handleSubmit)"
    >
      <!-- <v-alert
        v-if="_errors.length > 0"
        dense
        outlined
        class=" py-1 mx-4 mt-2"
        type="error"
      >
        <div
          v-for="(error,index) of _errors.slice(0,3)"
          :key="index"
        >
          <span>{{ error }}</span>
          <span v-if="_errors.length > 3 && index == 2"> + {{ _errors.length - 3 }}</span>
        </div>
      </v-alert> -->
      <template v-if="layout === '1'">
        <v-row class="mx-1" :dense="$vuetify.breakpoint.mdAndDown">
          <slot />
        </v-row>

        <v-row
          v-if="!readonly"
          class="mb-5 mx-1"
          :class="hasRemove || hasBack? '' : 'd-flex justify-end'"
        >
          <v-col
            v-if="hasSubmit"
            cols="12"
            :sm="hasRemove || hasBack? 3 : 5"
          >
            <v-btn
              block
              large
              rounded
              outlined
              color="white"
              type="submit"
              :elevation="0"
              class="primary"
              :label="submit.label || $vuetify.lang.t('$vuetify.save')"
              v-bind="submit"
            >
              {{ submit.label || $vuetify.lang.t('$vuetify.save') }}
            </v-btn>
          </v-col>
          <v-col
            v-if="hasSecondAction"
            cols="12"
            sm="3"
          >
            <v-btn
              block
              large
              rounded
              outlined
              color="white"
              :elevation="0"
              class="primary"
              :label="secondAction.label || $vuetify.lang.t('$vuetify.save')"
              v-bind="secondAction"
              @click="$emit('second-action')"
            >
              {{ secondAction.label || $vuetify.lang.t('$vuetify.save') }}
            </v-btn>
          </v-col>
          <v-col
            v-if="hasRemove"
            cols="12"
            sm="3"
          >
            <v-btn
              block
              large
              rounded
              outlined
              :elevation="0"
              color="pink darken-2"
              @click="$emit('remove')"
            >
              {{ remove.label || $vuetify.lang.t('$vuetify.delete') }}
            </v-btn>
          </v-col>
          <v-col
            v-if="hasBack"
            cols="12"
            class="py-0 my-0"
            sm="3"
          >
            <v-btn
              block
              large
              rounded
              outlined
              :elevation="0"
              color="pink darken-2"
              @click="handleBack"
            >
              {{ back.label || $vuetify.lang.t('$vuetify.back') }}
            </v-btn>
          </v-col>
        </v-row>
      </template>

      <template v-if="layout === '2'">
        <v-sheet
          class="white"
          elevation="1"
          rounded
        >
          <v-row
            class="mx-3 py-1"
            justify="space-between"
            align="center"
          >
            <v-col
              cols="12"
              md="8"
            >
              <h1 class="primary--text">
                {{ title }}
              </h1>
            </v-col>

            <v-col
              v-if="!readonly"
              cols="auto"
            >
              <v-btn
                v-if="hasSubmit"
                color="success"
                dark
                depressed
                type="submit"
              >
                {{ submit.label || $vuetify.lang.t('$vuetify.save') }}
              </v-btn>
              <v-btn
                v-if="hasSecondAction"
                depressed
                class="primary ms-5"
                :label="secondAction.label || $vuetify.lang.t('$vuetify.save')"
                v-bind="secondAction"
                @click="$emit('second-action')"
              >
                {{ secondAction.label || $vuetify.lang.t('$vuetify.save') }}
              </v-btn>
              <v-btn
                v-if="hasRemove"
                class="ms-5"
                color="error"
                dark
                depressed
                @click="$emit('remove')"
              >
                {{ remove.label || $vuetify.lang.t('$vuetify.delete') }}
              </v-btn>

              <v-btn
                v-if="hasBack"
                class="ms-5"
                color="warning"
                dark
                depressed
                @click="handleBack"
              >
                {{ back.label || $vuetify.lang.t('$vuetify.back') }}
              </v-btn>
            </v-col>
          </v-row>

          <v-divider />

          <v-row
            class="pa-4"
            :dense="$vuetify.breakpoint.mdAndDown"
          >
            <slot />
          </v-row>
        </v-sheet>
      </template>
    </form>
  </ValidationObserver>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'GForm',
  props: {
    submit: {
      type: Object,
      default: () => ({}),
    },
    secondAction: {
      type: Object,
      default: () => ({}),
    },
    back: {
      type: Object,
      default: () => ({}),
    },
    remove: {
      type: Object,
      default: () => ({}),
    },
    layout: {
      type: String,
      default: '2',
    },
    title: {
      type: String,
      default: '',
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    hasSubmit: {
      type: Boolean,
      default: true,
    },
    hasSecondAction: {
      type: Boolean,
      default: false,
    },
    hasBack: {
      type: Boolean,
      default: true,
    },
    hasRemove: {
      type: Boolean,
      default: true,
    },
  },
  emits: ['submit', 'back', 'remove', 'second-action'],
  data: () => ({
    formErrors: [],
    isValid: true,
    isSubmited: false,
  }),
  watch: {
    formErrors() {
      if (this.isSubmited) this.handelErrors();
    },
  },
  methods: {
    ...mapActions({
      notify: 'notify',
    }),
    handleSubmit() {
      this.$emit('submit');
    },
    handleBack() {
      this.$router.back();
      this.$emit('back');
    },
    handelErrors() {
      this.isSubmited = true;
      if (this.formErrors && this.formErrors.length > 0) {
        this.isSubmited = false;
        let [text] = this.formErrors;
        if ((this.formErrors.length - 1) > 0) text += ` +${this.formErrors.length - 1} ${this.$vuetify.lang.t('$vuetify.others')}`;
        this.notify({ text: text, color: 'error' }, { root: true });
      }
    },
  },
};
</script>
