<!-- Error demo pages -->
<template>
<v-app>
  <transition name="fade-in-up">
    <router-view></router-view>
  </transition>
</v-app>
</template>

<script>
export default {
  components: {},
};
</script>
