<template>
  <div
    class="d-flex flex-column flex-root "
    style="height: 100%;"
  >
    <div
      class="d-flex flex-row-fluid flex-column bgi-size-cover
      bgi-position-center bgi-no-repeat pa-5"
      :style="{
        backgroundImage: `url(${backgroundImage})`
      }"
    >
      <h1
        class="font-size-sm-100 font-weight-boldest text-dark-75 mt-15"
        style="font-size: 150px;"
      >
        401
      </h1>
      <p class="font-size-h3 font-weight-light">
        {{ $vuetify.lang.t('$vuetify.unAuthorize') }}
        <v-btn
          color="blue-grey"
          class="ma-2 white--text"
          :to="'/home'"
        >
          <v-icon
            right
            dark
            class="mx-2"
          >
            mdi-home
          </v-icon>
          {{ $vuetify.lang.t('$vuetify.dashboard') }}
        </v-btn>
      </p>
      <!-- end:: Content -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error1',
  computed: {
    backgroundImage() {
      return '/bg1.jpg';
    },
  },
};
</script>
