<template>
  <v-container>
    <v-tabs
      v-model="tab"
      centered
      dense
    >
      <v-tabs-slider></v-tabs-slider>

      <v-tab href="#tab-1">
        {{ $vuetify.lang.t("$vuetify.edit") }}
      </v-tab>

      <v-tab href="#tab-2">
        {{ $vuetify.lang.t("$vuetify.applicants") }}
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item value="tab-1">
        <v-card flat>
          <g-form
            :title="title"
            :has-back="true"
            :has-remove="id > 0"
            :layout="'2'"
            @remove="secondary"
            @submit="save"
          >
            <v-col cols="12" sm="6" class="my-0 py-0">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.localName')"
                name="arabicName"
                rules="required|max:150"
                :value.sync="editableItem.localName"
              />
            </v-col>

            <v-col cols="12" sm="6" class="my-0 py-0">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.foreignName')"
                name="englishName"
                rules="required|max:150"
                :value.sync="editableItem.foreignName"
              />
            </v-col>

            <v-col cols="12" sm="6" class="my-0 py-0">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.validFrom')"
                name="arabicName"
                rules="required|max:150"
                :value.sync="editableItem.validFrom"
                :input="{
                  type: 'date',
                }"
              />
            </v-col>

            <v-col cols="12" sm="6" class="my-0 py-0">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.validTo')"
                name="englishName"
                rules="required"
                :value.sync="editableItem.validTo"
                :input="{
                  type: 'date',
                }"
              />
            </v-col>
            <v-col cols="12">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.localDescription')"
                name="localDescription"
                rules="required|max:500"
                :value.sync="editableItem.localDescription"
                :input="{
                  type: 'textarea',
                }"
              />
            </v-col>
            <v-col cols="12">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.foreignDesciption')"
                name="foreignDesciption"
                rules="required|max:500"
                :value.sync="editableItem.foreignDesciption"
                :input="{
                  type: 'textarea',
                }"
              />
            </v-col>

            <v-col cols="12">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.responsibilities')"
                name="responsibilities"
                rules="required|max:500"
                :value.sync="editableItem.responsibilities"
                :input="{
                  type: 'textarea',
                }"
              />
            </v-col>

            <v-col cols="12" sm="6">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.skills')"
                name="skills"
                type="lookup"
                :value.sync="selectedSkills"
                :input="{
                  lookup: skills,
                  itemText: lang == 'ar' ? 'localName' : 'foreignName',
                  multiple: true,
                  itemId: 'id',
                }"
              />
            </v-col>

            <v-col cols="12" sm="6">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.category')"
                name="category"
                type="lookup"
                :value.sync="editableItem.jobCategoryId"
                :input="{
                  lookup: categories,
                  itemText: lang == 'ar' ? 'localName' : 'foreignName',
                  itemId: 'id',
                }"
              />
            </v-col>

            <v-col cols="12" sm="6">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.maximumApplication')"
                name="maximumApplication"
                :value.sync="editableItem.maximumApplication"
                :input="{
                  type: 'number',
                }"
              />
            </v-col>
          </g-form>
        </v-card>
      </v-tab-item>
      <v-tab-item value="tab-2">
        <v-card flat> 
          <v-data-table
    :headers="headers"
    :items="editableItem.applicants"
    :items-per-page="5"
    class="elevation-1"
  ></v-data-table>
        </v-card>
      </v-tab-item>
    </v-tabs-items>

    <DeleteDialog :visible.sync="deleteDialog" @confirmed="confirmDelete" />
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import DeleteDialog from "~/components/deleteDialog.vue";

export default {
  name: "jobVacancyEdit",
  components: {
    DeleteDialog,
  },
  props: {
    id: {
      type: [String, Number],
      default: 0,
    },
  },
  data: () => ({
    gateway: "jobVacancies",
    tab: "tab-1",
    editableItem: {
      localName: "",
      foreignName: "",
      localDescription: "",
      foreigndesciption: "",
      validFrom: null,
      validTo: null,
      maximumApplication: 0,
      responsibilities: "",
      jobCategoryId: null,
      jobVacancySkills: [],
    },
    deleteDialog: false,
    skills: [],
    selectedSkills: [],
    categories: [],
  }),
  computed: {
    ...mapGetters({
      lang: "lang",
    }),
    headers() {
      return [
        {
          
          text: this.$vuetify.lang.t('$vuetify.email'),
            align: 'center',
            sortable: true,
            value: 'email',
        },
        {
          text: this.$vuetify.lang.t('$vuetify.fullName'),
            align: 'center',
            sortable: true,
            value: 'fullName',
        },
        {
          text: this.$vuetify.lang.t('$vuetify.phoneNumber'),
            align: 'center',
            sortable: false,
            value: 'phoneNumber',
        },
        {
          text: this.$vuetify.lang.t('$vuetify.appliedAt'),
            align: 'center',
            sortable: true,
            value: 'appliedAt',
        }
      ]
    },  
    title() {
      return `${this.$vuetify.lang.t(
        `$vuetify.${this.id ? "create" : "edit"}`
      )}  ${this.$vuetify.lang.t("$vuetify.jobVacancies")}`;
    },
  },
  mounted() {
    this.get({ gateway: "skills" }).then((data) => {
      this.skills = data;
    });
    this.get({ gateway: "categories" }).then((data) => {
      this.categories = data;
    });
    if (this.id) {
      this.get({ id: this.id, gateway: this.gateway }).then((data) => {
        this.editableItem = data;
        this.selectedSkills = data.jobVacancySkills.map((x) => x.skillId);
      });
    }
  },
  methods: {
    ...mapActions({
      showLoading: "showLoading",
      hideLoading: "hideLoading",
      get: "AppModule/GeneralCodesModule/GatewayModule/get",
      create: "AppModule/GeneralCodesModule/GatewayModule/create",
      update: "AppModule/GeneralCodesModule/GatewayModule/update",
      delete: "AppModule/GeneralCodesModule/GatewayModule/delete",
    }),
    save() {
      this.editableItem.jobVacancySkills = this.selectedSkills.map((x) => ({
        skillId: x,
        jobVacancyId: this.editableItem.id,
      }));
      if (this.id) {
        this.update({
          data: this.editableItem,
          gateway: this.gateway,
          id: this.id,
        });
      } else {
        this.create({ data: this.editableItem, gateway: this.gateway });
      }
    },
    secondary() {
      if (this.id) {
        this.deleteDialog = true;
      } else {
        this.$router.push("/jobVacancies");
      }
    },
    confirmDelete() {
      this.delete({ id: this.id, gateway: this.gateway });
      this.deleteDialog = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.v-card {
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.hintColor ::v-deep .v-messages__message {
  color: #f57f17;
}
</style>
