<template>
  <v-row>
    <v-col cols="12">
      <v-card
        :class="{ 'text-left': lang != 'ar', 'text-right': lang == 'ar' }"
        class="mx-auto"
      >
        <v-card-title>
          <h2 class="text-h4">
            {{ job[lang == "ar" ? "localName" : "foreignName"] }}
          </h2>
          <v-spacer></v-spacer>
          <span class="text-h6 rounded-pill info px-2">
            # {{ job.maximumApplication }}
          </span>
        </v-card-title>

        <v-card-text v-html='job[lang == "ar" ? "localDescription" : "foreignDesciption"].split("\n").join("<br/>")'>
        </v-card-text>

        <v-divider class="mx-4"></v-divider>

        <v-card-text class="ps-10">
          <h2 class="text-6">
            {{ $vuetify.lang.t("$vuetify.responsibilities") }}
          </h2>
          <div v-html="job[lang == 'ar' ? 'localDescription' : 'foreignDesciption'].split('\n').join('<br/>')"></div>
        </v-card-text>

        <v-card-text>
          <span class="subheading">{{
            $vuetify.lang.t("$vuetify.skills")
          }}</span>
          <v-chip
            class="mx-1"
            v-for="skill in job.jobVacanySkills"
            :key="skill.id"
          >
            {{ skill[lang == "ar" ? "localName" : "foreignName"] }}</v-chip
          >
        </v-card-text>
        <v-divider class="mb-5"></v-divider>
        <g-form
          :has-back="false"
          :has-remove="false"
          :layout="'1'"
          :submit="{ label: $vuetify.lang.t('$vuetify.apply') }"
          @submit="appaly"
        >
          <v-col cols="12" sm="4" class="my-0 py-0">
            <g-form-field
              :label="$vuetify.lang.t('$vuetify.email')"
              name="email"
              rules="required|email"
              dense
              :value.sync="applicantDetails.email"
            />
          </v-col>

          <v-col cols="12" sm="4" class="my-0 py-0">
            <g-form-field
              :label="$vuetify.lang.t('$vuetify.fullName')"
              name="fullName"
              rules="required|max:150"
              dense
              :value.sync="applicantDetails.fullName"
            />
          </v-col>
          <v-col cols="12" sm="4" class="my-0 py-0">
            <g-form-field
              :label="$vuetify.lang.t('$vuetify.phoneNumber')"
              name="phoneNumber"
              rules="required|max:150"
              dense
              :value.sync="applicantDetails.phoneNumber"
            />
          </v-col>
        </g-form>

        <!-- <v-card-actions>
          <v-btn block class="white--text" color="blue accent-4">
            {{ $vuetify.lang.t("$vuetify.apply") }}
          </v-btn>
        </v-card-actions> -->
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: ["id"],
  data() {
    return {
      job: {},
      applicantDetails: {
        fullName: "",
        email: "",
        phoneNumber: "",
      },
    };
  },
  computed: {
    ...mapGetters({
      token: "AppModule/AuthModule/token",
      profile: "AppModule/AuthModule/profile",
      lang: "lang",
    }),
  },
  mounted() {
    if (this.id) {
      this.get({ id: this.id, gateway: "jobVacancies" }).then((data) => {
        this.job = data;
      });
    }
  },
  methods: {
    ...mapActions({
      get: "AppModule/GeneralCodesModule/GatewayModule/get",
      create: "AppModule/GeneralCodesModule/GatewayModule/create",
    }),
    appaly() {
      console.log('sdasd');
      this.create({
        data: this.applicantDetails,
        gateway: `jobVacancies/${this.id}/Apply`,
      });
    },
  },
};
</script>

<style lang="scss" scoped></style>
