<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
      flat
      :clipped-left="!$vuetify.rtl"
      :clipped-right="$vuetify.rtl"
    >
      <v-app-bar-nav-icon v-if="token" @click.stop="drawer = !drawer;" />

      <div class="d-flex align-center">
        <h1 class="text-h6 text-md-h4">{{ $vuetify.lang.t('$vuetify.title') }}</h1>
      </div>

      <v-spacer />

      <!-- <v-menu
        offset-y
        auto
        nudge-bottom="10"
      >
        <template #activator="{ on, attrs }">
          <div
            v-bind="attrs"
            class="me-md-7"
            v-on="on"
          >
            <v-badge
              v-if="token"
              :content="7"
              :value="7"
              color="green"
              overlap
            >
              <v-icon>
                mdi-email
              </v-icon>
            </v-badge>
          </div>
        </template>

        <v-list
          width="400px"
          three-line
        >
          <template v-for="(item, index) in items">
            <v-divider
              v-if="item.divider"
              :key="index"
              :inset="item.inset"
            />

            <v-list-item
              v-else
              :key="item.title"
            >
              <v-list-item-avatar>
                <v-img :src="item.avatar" />
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-html="item.title" />
                <v-list-item-subtitle v-html="item.subtitle" />
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </v-menu>-->
      <v-menu
        v-if="token && profile.isAdmin"
        offset-x
        auto
        nudge-bottom="10"
      >
        <template #activator="{ on, attrs }">
          <div v-bind="attrs" class="me-md-7" v-on="on">
            <v-btn text small>
              {{ $vuetify.lang.t('$vuetify.branch') }} :
              {{ lang === 'ar' ? branch.arabicName : branch.englishName }}
              <!-- <v-icon>mdi-chevron-left-circle-outline</v-icon> -->
              <v-icon>mdi-chevron-down</v-icon>
            </v-btn>
          </div>
        </template>

      </v-menu>
      <v-menu  offset-y auto>
        <template #activator="{ on, attrs }">
          <v-btn class="me-md-5" color="primary" fab outlined v-bind="attrs" v-on="on">
            <v-avatar size="35px" class="border me-md-2">
              <img :src="langIcon" />
            </v-avatar>
          </v-btn>
        </template>

        <v-list>
          <v-list-item @click="locale = 'ar'">
            <v-list-item-icon>
              <v-avatar size="30px" class="border">
                <img src="sa.png" />
              </v-avatar>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>العربية</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item @click="locale = 'en'">
            <v-list-item-icon>
              <v-avatar size="30px" class="border">
                <img src="uk.svg" />
              </v-avatar>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>English</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>

      <!-- Profile -->
      <v-menu v-if="token" offset-y auto>
        <template #activator="{ on, attrs }">
          <div v-bind="attrs" class="me-md-2" v-on="on">
            <v-avatar size="35px" class="border me-md-2">
              <img src="default.jpg" />
            </v-avatar>

            <span>{{ profile.userName }}</span>

            <v-icon>mdi-chevron-down</v-icon>
          </div>
        </template>

        <v-list>
          <v-list-item to="/profile">
            <v-list-item-icon>
              <v-icon v-text="'mdi-account-box'" />
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ $vuetify.lang.t('$vuetify.profile') }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item @click="handleMenuItem('logout')">
            <v-list-item-icon>
              <v-icon v-text="'mdi-menu'" />
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ $vuetify.lang.t('$vuetify.logout') }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
      
    </v-app-bar>

    <v-navigation-drawer v-if="token" v-model="drawer" :right="$vuetify.rtl" clipped app>
      <v-list dense nav>
        <component
          :is="item.list ? 'ListGroup' : 'ListItem'"
          v-for="item in navItems"
          :key="item.title"
          :item="item"
        />
      </v-list>
    </v-navigation-drawer>

    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64" />
    </v-overlay>

    <v-snackbar
      :key="notify.key"
      app
      centered
      top
      vertical
      :color="notify.color"
      elevation="4"
      :value="notify.visible"
      timeout="2000"
    >
      <div :class="$vuetify.rtl ? 'align-self-start' : 'align-self-end'">{{ notify.text }}</div>
      <template #action="{ attrs }">
        <v-btn
          color="white"
          text
          v-bind="attrs"
          @click="hideNotify"
        >{{ $vuetify.lang.t('$vuetify.close') }}</v-btn>
      </template>
    </v-snackbar>

    <v-main class="eggshell">
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { localize } from 'vee-validate';

import {
  mapState, mapGetters, mapActions,
} from 'vuex';
import ar from 'vee-validate/dist/locale/ar.json';
import en from 'vee-validate/dist/locale/en.json';

import ListItem from '~/components/list/item.vue';
import ListGroup from '~/components/list/group.vue';

import { menu } from '~/configs/menu';

export default {
  name: 'MainLayout',
  components: {
    ListItem,
    ListGroup,
  },
  data: () => ({
    drawer: true,
    items: [
      {
        avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
        title: 'Brunch this weekend?',
        subtitle: '<span class="text--primary">Ali Connors</span> &mdash; I\'ll be in your neighborhood doing errands this weekend. Do you want to hang out?',
      },
      { divider: true, inset: true },
      {
        avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
        title: 'Summer BBQ <span class="grey--text text--lighten-1">4</span>',
        subtitle: '<span class="text--primary">to Alex, Scott, Jennifer</span> &mdash; Wish I could come, but I\'m out of town this weekend.',
      },
      { divider: true, inset: true },
      {
        avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
        title: 'Oui oui',
        subtitle: '<span class="text--primary">Sandra Adams</span> &mdash; Do you have Paris recommendations? Have you ever been?',
      },
      { divider: true, inset: true },
      {
        avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
        title: 'Birthday gift',
        subtitle: '<span class="text--primary">Trevor Hansen</span> &mdash; Have any ideas about what we should get Heidi for her birthday?',
      },
      { divider: true, inset: true },
      {
        avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
        title: 'Recipe to try',
        subtitle: '<span class="text--primary">Britta Holt</span> &mdash; We should eat this: Grate, Squash, Corn, and tomatillo Tacos.',
      },
    ],
    langIcon: '',
  }),
  computed: {
    ...mapState({
      overlay: 'loading',
    }),
    ...mapGetters({
      notify: 'notify',
      lang: 'lang',
      token: 'AppModule/AuthModule/token',
      profile: 'AppModule/AuthModule/profile',
    }),
    navItems() {
      let allowed_menu = menu;
      return [
        {
          title: 'dashboard',
          icon: 'mdi-home',
          to: '/home',
        },
        ...allowed_menu,
      ];
    },
    locale: {
      get: function get() {
        return this.lang;
      },
      set: function (newVal) {
        this.setLang(newVal);
        this.changeDir();
      },
    },
  },
  mounted() {
    this.changeDir();
    if (this.profile.isAdmin) this.getBranches();
  },
  methods: {
    ...mapActions({
      hideNotify: 'hideNotify',
      setLang: 'setLang',
      logout: 'AppModule/AuthModule/logout',
      get: 'AppModule/GeneralCodesModule/GatewayModule/get',
    }),
    changeDir() {
      this.$vuetify.lang.current = this.lang;
      this.$vuetify.rtl = this.lang === 'ar';
      if (this.lang === 'ar') {
        localize('ar', ar);
        this.langIcon = 'sa.png';
      } else {
        this.langIcon = 'uk.svg';
        localize('en', en);
      }
    },
    handleMenuItem(onClick) {
      if (onClick === 'logout') {
        this.logout();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.border {
  border: 1px white solid;
}

.v-menu__content {
  max-height: 400px !important;
}
</style>
