<template>
  <v-card
    outlined
    height="700px"
    class="y-scroll"
    elevation="5"
    shaped
  >
    <v-card-text>
      <div class="fill-height  d-felx d-inline">
        <v-treeview
          ref="tree"
          class="d-inline"
          :items="items"
          :multiple-active="false"
          activatable
          :active="value"
          :item-key="itemId"
          :open-on-click="false"
          :item-text="itemText"
          :return-object="returnObject"
          transition
          :open.sync="opened"
          @update:active="(v) => $emit('update:value',v)"
        >
          <template #prepend="{ item }">
            <v-icon
              v-if="item.type == 'main'"
              small
            >
              mdi-folder-open
            </v-icon>
            <span v-if="prependText && prependText.key">
              {{ prependText.isProp ? item[prependText.key] : prependText.key }} -
            </span>
          </template>
        </v-treeview>
      </div>
      <div class="fill-height  d-felx d-inline">
        <v-divider
          vertical
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => [{ name: 'node', id: 1 }],
    },
    itemText: {
      type: String,
      default: 'name',
    },
    itemId: {
      type: String,
      default: 'id',
    },
    prependText: {
      type: Object,
      default: () => {}, // ({ key: 'code', isProp: true }),
    },
    value: {
      type: [Object, Array],
      default: () => {},
    },
    returnObject: {
      type: Boolean,
      default: true,
    },
    open: {
      type: Array,
      default: () => [],
    },
  },
  emits: ['update:value', 'update:open'],
  data: () => ({
    tree: [],
    opened: [],
  }),
  watch: {
    opened() {
      this.$emit('update:open', this.opened[this.opened.length - 1]);
    },
    open() {
      console.log('this.open', this.open);
      this.opened = [...this.open];
      console.log('this.opened', this.opened);
    },
    tree() {
      console.log('tree => ', this.tree);
    },
    items() {
      console.log(this.items);
    },
  },
  mounted() {
    console.log('this.open', this.open);
  },
  methods: {
  },
};
</script>
