<template>
  <ValidationProvider
    v-slot="{ errors, invalid, validated }"
    :name="label"
    :rules="rules"
    :vid="name"
    mode="eager"
  >
    <div class="q-mb-md">
      <component
        :is="`g-${type}-input`"
        v-bind="input"
        :name="name"
        :value="selectedValue"
        :label="label"
        :errors="errors"
        :readonly="readonly"
        :disabled="disabled"
        :invalid="invalid"
        :validated="validated"
        :dense="dense"
        @input="v => $emit('update:value', v)"
        @change="v => { $emit('change', v); $emit('update:value', v) }"
        @selected-option="v => $emit('update:selected-option', v)"
        @selected-text="v => $emit('update:selected-text', v)"
      >
        <template
          v-if="$slots.append"
          #append
        >
          <slot name="append" />
        </template>

        <template
          v-if="$slots.prepend"
          #prepend
        >
          <slot name="prepend" />
        </template>
      </component>

      <slot name="after" />
    </div>
  </ValidationProvider>
</template>
<script>
export default {
  name: 'GField',
  props: {
    type: {
      type: String,
      default: 'text',
    },
    rules: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: null,
    },
    dense: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: '',
      // required: true,
    },
    value: {
      type: [String, Number, File, Object, Boolean, Array, null],
      // required: true,
      default: null,
      // coerce: (val) => val || '',
    },
    readonly: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    input: {
      type: Object,
      default: () => ({}),
    },
  },
  emits: ['update:value', 'update:selected-option', 'change', 'update:selected-text'],
  computed: {
    selectedValue() {
      return this.value;
    },
  },
  data: () => ({
  }),
};
</script>
