<template>
  <v-container>
    <v-row
      justify="start"
      align="center"
    >
      <v-col
        v-for="(item, index) in items"
        :key="index"
        md="6"
        cols="12"
      >
        <v-hover v-slot="{ hover }">
          <v-card
            class="px-4 py-2"
            shaped
            ripple
            :elevation="hover ? 12 : 2"
            @click="openLink(item.url)"
          >
            <v-list-item three-line>
              <v-list-item-content>
                <div class="text-caption mb-4">
                  {{ `${$vuetify.lang.t('$vuetify.appList.expiresAt')} : ${item.expiresAt}` }}
                </div>

                <v-list-item-title class="headline mb-1">
                  {{ item.name }}
                </v-list-item-title>

                <v-list-item-subtitle>
                  {{ item.description }}
                </v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-avatar
                tile
                size="100"
              >
                <v-img :src="item.icon" />
              </v-list-item-avatar>
            </v-list-item>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Home',
  data: () => ({
  }),
  computed: {
    ...mapGetters({
      items: 'AppModule/ApplicationsModule/appsGetter',
    }),
  },
  mounted() {
    // this.getApps();
  },
  methods: {
    ...mapActions({
      getApps: 'AppModule/ApplicationsModule/getApps',
    }),
    openLink(url) {
      window.open(url, '_blank');
    },
  },
};
</script>

<style lang="scss" scoped>
.v-card {
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
</style>
