<template>
  <v-container>
    <v-row
      justify="center"
      align="center"
    >
      <v-col
        md="6"
        cols="12"
      >
        <v-card
          class="px-4 py-2"
          shaped
        >
          <v-card-title>
            {{ $vuetify.lang.t('$vuetify.loginTitle') }}
          </v-card-title>
          <g-form
            :layout="'1'"
            :has-remove="false"
            :has-back="false"
            :submit="{ label: $vuetify.lang.t('$vuetify.loginTitle') }"
            @submit="login"
          >
            <v-col cols="12">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.userName')"
                name="userName"
                rules="required|min:3"
                :value.sync="form.userName"
                :input="{
                  'prepend-inner-icon-name': 'mdi-account',
                }"
              />
            </v-col>

            <v-col cols="12">
              <g-form-field
                :label="$vuetify.lang.t('$vuetify.password')"
                name="password"
                rules="required"
                :value.sync="form.password"
                :input="{
                  type: 'password',
                  'prepend-inner-icon-name': 'mdi-lock',
                }"
              />
            </v-col>
          </g-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Login',
  data: () => ({
    form: {
      userName: '',
      password: '',
    },
  }),
  methods: {
    login() {
      this.loginApi({ userName: this.form.userName, password: this.form.password });
    },
    ...mapActions({
      loginApi: 'AppModule/AuthModule/login',
    }),
  },
};
</script>
